@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

/* :root {
  --container-height: ;
  --container-width: 90%;
  --component-background: rgba(0, 0, 0, 0.45);
} */

:root {
  --component-background: rgba(0, 0, 0, 0.45);
}

body {
  /* background: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-3840x2160-1432.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-family: "Poppins", sans-serif;
}

.container {
  /* background: rgba(0, 0, 0, 0.2); */
  transition: 0.3s ease;
  backdrop-filter: blur(30px);
  border-radius: 15px;
  width: 1000px;
  height: var(--container-height);
  position: relative;
  display: flex;
  justify-content: center; 
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  position: relative;
}

/* .content {
  color: white;
  padding: 15px;
  border-radius: 30px;
  height: 90%;
  margin-right: 20px;
  overflow: scroll;
  .ideas {
    display: flex;
    .idea {
      background: var(--component-background);
      width: 50%;
      padding: 20px;
      border-radius: 20px;
      backdrop-filter: blur(20px);
      transition: 0.3s ease;
      &:nth-of-type(2) {
        margin-left: 15px;
      }
      p {
        color: gray;
        font-size: 1.2rem;
      }
      &:hover {
        transform: scale(1.06);
      }
    }
  }
} */
